.header-container{
    .bg-light{
        background-color: #2f317d !important;
        height: 60px;
    }
    ul{        
        li{
            list-style: none;
            padding:8px;
            a{
                color: #fff;
                text-decoration: none;
            }
            a:hover{
                color: #d2a104;
            }
        }
    }  
}
.navbar>.container-fluid{
    height: 60px;
}
a.navbar-brand img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
@media (max-width: 993px){
    #navbarSupportedContent{
        background-color: #000;
        z-index: 1;
    }
}