.table-container{
    overflow-x: auto;

    tr th{
        background-color: #000;
        color: #fff;
    }
    tr td{
        background-color: #e5e5e5;
        color: #000;
    }
    tr th,tr td{
        border: 1px solid #fff;
    }
}
.green-txt{
    color: green !important;
}
.red-txt{
    color: red !important;
}
.borrow-pages-cotainer{
    padding-right: 64px;
    padding-left: 64px;
}
@media (max-width: 992px){
    .borrow-pages-cotainer{ 
        padding-right: 2%;
        padding-left: 2%;
    }
}