<div>
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="borrow-person-details">
                <div class="borrow-person-details-title">புருசோத் Amount Details</div>
                <div class="borrow-person-detail">
                    <div><h3>Name: <b>புருசோத்</b></h3></div>
                    <div class="my-3"> <h3>Total Amount: <b>1,00,000</b></h3></div>
                    <div class="my-3"> <h3>Pending Amount: <b>0</b></h3></div>
                    <div class="my-3"> <h3>Total Interest Amount: <b>{{totalintamount}}</b></h3></div>
                    <div class="my-3"> <h3>Paid Interest Amount: <b>{{interestamounts}}</b></h3></div>
                    <div class="my-3"> <h3>Pending Interest Amount: <b>{{pendingamount}}</b></h3></div>
                    <div class="my-3"> <h3>Amount Issued Date: <b>01-09-2023</b></h3></div>
                    <div class="my-3"> <h3>Closed Date: <b>30-05-2024</b></h3></div>
                    <div class="my-3"> <h3>Status: <span class="green-txt"><b>No Dues</b></span></h3></div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-3">
            <div class="borrow-report-chart">
                <div class="charts-title">புருசோத் Report</div>
                <div id="purusoth-chart-bar" class="cmnchartstyle"></div>
            </div>
        </div>
    </div>
    <div class="mt-4">     
        <div><h2 class="text-blue mb-0">Lists of Interest Amount</h2></div>  
        <div class="my-2 table-container borrowtblcmndesign">
            <table mat-table [dataSource]="PurusothInt" class="mat-elevation-z8">

                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
            
                <!-- Name Column -->
                <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                </ng-container>
            
                <!-- Weight Column -->
                <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Int.Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                </ng-container>
            
                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" [ngClass]="element.status === 'Done' ? 'green-txt' : 'red-txt'"> {{element.status}} </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>