<div class="container-body">
    <div class="bg-light-blue">
        <div class="h-100 borrow-page-container">
            <div class="borrow-left">
                <div class="mt-4 px-3"><h4><b>Person List</b></h4></div>
                <nav class="borrowlist">
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-gopi-tab" data-bs-toggle="tab" data-bs-target="#nav-gopi" type="button" role="tab" aria-controls="nav-gopi" aria-selected="true">
                            <img src="../../../assets/images/gopi.png"> கோபி
                        </button>
                        <button class="nav-link" id="nav-seenu-tab" data-bs-toggle="tab" data-bs-target="#nav-seenu" type="button" role="tab" aria-controls="nav-seenu" aria-selected="false">
                            <img src="../../../assets/images/sugumar-profile.jpg"> செந்தில்
                        </button>
                        <button class="nav-link" id="nav-senthil-tab" data-bs-toggle="tab" data-bs-target="#nav-senthil" type="button" role="tab" aria-controls="nav-senthil" aria-selected="false">
                            <img src="../../../assets/images/senthil-arni.png"> செந்தில் ஆரணி
                        </button>
                        <button class="nav-link" id="nav-senthil-tab" data-bs-toggle="tab" data-bs-target="#nav-senthil" type="button" role="tab" aria-controls="nav-senthil" aria-selected="false">
                            <img src="../../../assets/images/suresh.png"> புருசோத்
                        </button>
                    
                    </div>
                  </nav>
                <div>
                </div>
                
            </div>
            <div class="borrow-right">
                  <div class="tab-content borrow-tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="nav-gopi" role="tabpanel" aria-labelledby="nav-gopi-tab">
                        <div class="borrow-person-name"><img src="../../../assets/images/gopi.png"> கோபி</div>
                        <app-gopi></app-gopi>
                    </div>
                    <div class="tab-pane fade" id="nav-seenu" role="tabpanel" aria-labelledby="nav-seenu-tab">sd</div>
                    <div class="tab-pane fade" id="nav-senthil" role="tabpanel" aria-labelledby="nav-senthil-tab">asd</div>
                  </div>
            </div>
        </div>
    </div>
</div>