.profile-left{
    width: 250px;
    background-color: #fff;
    height: 100%;
}
.profile-right{
    width: calc(100% - 250px);
    padding-left: 2%;
    padding-right: 2%;
}
.profile-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.profile-information{
    background-color: #fff;
    min-height: 100%;
    margin-top: 24px;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: -1px 3px 10px 2px #00000052;
}
.personal-info-lft{
    width: 150px;
}
.personal-info-ryt{
    width: calc(100% - 150px);
}
@media screen and (min-width:769px){
    .profile-page-container{
        display: flex;
    }
}
@media screen and (max-width:768px){
    .personal-info-lft{
        width: 100%;
        height: auto;
    }
    .personal-info-ryt{
        width: 100%;
        height: auto;
    }
    .profile-left, .profile-right{
        width: 100%;
        height: auto;
    }
}
