<div class="bg-light-blue h-100">
    <div class="d-flex h-100">
        <div class="profile-left text-center">
            <div class="my-3 profile-img">
                <img src="assets/images/sugumar-profile.jpg">
            </div>
            <div><h3 class="mb-0"><b>Sugumar</b></h3></div>
            <div class="mt-1"><h5>Application Developer Senior Analyst</h5></div>
        </div>
        <div class="profile-right">
            <div class="my-3"><h1>Profile details</h1></div>
        </div>
    </div>
</div>