<div class="container-body">
    <div class="bg-light-blue">
        <div class="h-100 profile-page-container">
            <div class="profile-left text-center">
                <div class="my-3 profile-img">
                    <img src="assets/images/sugumar-profile.jpg">
                </div>
                <div><h3 class="mb-0"><b>Sugumar</b></h3></div>
                <div class="mt-1"><h5>Application Developer Senior Analyst</h5></div>

                <div class="mt-4">
                    <div class="d-flex align-items-center px-2"><mat-icon class="text-blue"> call</mat-icon> <span class="ps-2">8682843624</span></div>
                    <div class="mt-2 d-flex align-items-center px-2"><mat-icon class="text-blue"> email</mat-icon> <span class="ps-2">sugumarsakthi95@gmail.com</span></div>
                </div>
            </div>
            <div class="profile-right">
                <div class="profile-information">
                    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                        <mat-tab label="Personal Information">
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">First Name </div>
                                    <div class="personal-info-ryt my-2">Sugumar</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Last Name</div>
                                    <div class="personal-info-ryt my-2">Sakthivel</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Gander</div>
                                    <div class="personal-info-ryt my-2">Male</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Date of Birth</div>
                                    <div class="personal-info-ryt my-2">06/11/1995</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Address</div>
                                    <div class="personal-info-ryt my-2">No.414, Vaariyar St, ADB Nagar,Sevoor,Arni,Thiruvannamalai District,Tamil nadu - 632316</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Country</div>
                                    <div class="personal-info-ryt my-2">India</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Contact No</div>
                                    <div class="personal-info-ryt my-2">8682843624</div>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="d-flex flex-wrap">
                                    <div class="personal-info-lft my-2">Email</div>
                                    <div class="personal-info-ryt my-2">sugumarsakthi95@gmail.com</div>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Skills">
                            <div class="px-4 mt-4">
                                <h3><b>Technical Skills</b></h3>
                                <div>
                                    <ul>
                                        <li>Html</li>
                                        <li>Css</li>
                                        <li>Javascript</li>
                                        <li>Jquery</li>
                                        <li>Bootstrap</li>
                                        <li>Angular 12</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="mt-5 px-4">
                                <h3><b>Design Skills</b></h3>
                                <div>
                                    <ul>
                                        <li>Power Point</li>
                                        <li>Photoshop</li>
                                    </ul>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Working Experience">
                            <div class="mt-5">
                                <div class="my-2 table-container borrowtblcmndesign">
                                    <table mat-table [dataSource]="workingexperience" class="mat-elevation-z8">
                        
                                        <ng-container matColumnDef="id">
                                            <th mat-header-cell *matHeaderCellDef> id </th>
                                            <td mat-cell *matCellDef="let element"> {{element.id}}</td>
                                        </ng-container>
                                    
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="companyname">
                                        <th mat-header-cell *matHeaderCellDef> Company Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.companyname}} </td>
                                        </ng-container>
                                    
                                        <!-- Weight Column -->
                                        <ng-container matColumnDef="designation">
                                            <th mat-header-cell *matHeaderCellDef> Designation </th>
                                            <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="years">
                                            <th mat-header-cell *matHeaderCellDef> Years </th>
                                            <td mat-cell *matCellDef="let element"> {{element.years}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="exp">
                                            <th mat-header-cell *matHeaderCellDef> Experience </th>
                                            <td mat-cell *matCellDef="let element" > {{element.exp}} </td>
                                        </ng-container>
                                    
                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                            </div>

                            <div *ngIf="projdetaildisplay">
                               testing
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>
        </div>
    </div>
</div>