html,body{
    background-color: #f1f1f9;
}
.table-container{
    overflow-x: auto;

    tr th{
        background-color: #000;
        color: #fff;
    }
    tr td{
        background-color: #e5e5e5;
        color: #000;
    }
    tr th,tr td{
        border: 1px solid #fff;
    }
    ::ng-deep tfoot tr td {
        border: 0px !important;
    }
    ::ng-deep tfoot tr td:last-child {
        border-left: 1px solid #fff !important;
        border-right: 1px solid #fff !important;
    }
    ::ng-deep tfoot tr td:first-child {
        border-left: 1px solid #fff !important;
    }
}
.mat-table-container{
    max-height: 400px;
    overflow: auto;
}
.home-top-card{
    background-color: #fff;
    box-shadow: -1px 3px 10px 2px rgba(0,0,0,0.32);
    min-height: 100px;
    position: relative;
    padding: 12px;
    .home-top-card-amount{
        color: #ed7d31;
        font-size: 44px !important;
        position: absolute;
        bottom: 16px;
    }
}
.month-wise-chart{
    background-color:#fff ;
    box-shadow: -1px 3px 10px 2px rgba(0,0,0,0.32);
    padding: 16px;
}
.total-cost-year{
    border-bottom: 1px solid #d2d2d2;
}
#bar-chart{
    padding-top: 36px;
}