<!-- <app-seenu></app-seenu> -->
<div class="main-pages-cotainer">
    <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-5">
            <div class="home-top-card">
                <div class="home-top-card-title">
                        Total Cost of Today (Rs)
                </div>
                <div class="home-top-card-amount">
                    {{todaycosts}}
            </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-5">
            <div class="home-top-card">
                <div class="home-top-card-title">
                        Total Cost of Current Month (Rs)
                </div>
                <div class="home-top-card-amount">
                    {{totalcostofthismonth}}
            </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-5">
            <div class="home-top-card">
                <div class="home-top-card-title">
                        Total Cost of Current Year (Rs)
                </div>
                <div class="home-top-card-amount">
                    {{totalcostofthisyear}}
            </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-xs-12 mb-5">
            <div class="home-top-card">
                <div class="home-top-card-title">
                        Overall Tea Cost
                </div>
                <div class="home-top-card-amount">
                    {{totalteaamounts}}
            </div>
            </div>
        </div>
    </div>
<div class="month-wise-chart mb-5">
    <div>
        <div class="total-cost-year">
            <h2>Total Cost of the Year</h2>
        </div>
    </div>
    <div id="bar-chart"></div>
</div>
    <div>
        <h2>Type of cost list</h2>
    </div>
    <div class="my-3 table-container mat-table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            
            <ng-container matColumnDef="#">
                <th mat-header-cell *matHeaderCellDef> # </th>
                <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
        
            <ng-container matColumnDef="typeofcost">
                <th mat-header-cell *matHeaderCellDef> Type of cost </th>
                <td mat-cell *matCellDef="let element"> {{element.typeofcost}} </td>
                <td mat-footer-cell *matFooterCellDef class="text-end"> Total Amount</td>
            </ng-container>

            <ng-container matColumnDef="amount">
            <th mat-header-cell *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
            <td mat-footer-cell *matFooterCellDef> {{ totalamount}} </td>   
            </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns;  sticky: true"></tr>
             
        </table>
    </div>
    <div>
        <h4>Total Amount : <b>{{ totalamount}}</b></h4>
    </div>

    <div class="my-5">
        <div><h2><b>மொத்தம் கடன் :</b></h2></div>
        <div class="my-3 table-container mat-table-container">
            <table mat-table [dataSource]="allborrows" class="mat-elevation-z8">
                
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            
                <ng-container matColumnDef="personname">
                    <th mat-header-cell *matHeaderCellDef> Person Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.personname}} </td>
                    <td mat-footer-cell *matFooterCellDef class="text-end"> Total Amount</td>
                </ng-container>
    
                <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                <td mat-footer-cell *matFooterCellDef> {{ totalborrowamountothers}} </td>   
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>   
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns1; sticky: true"></tr>
                 
            </table>
        </div>
    </div>

    <div class="my-5">
        <div><h2><b>டிசம்பர் மாதம் செலவு:</b></h2></div>
        <div class="my-3 table-container mat-table-container">
            <table mat-table [dataSource]="decmonthcost2023" class="mat-elevation-z8">
                
                <ng-container matColumnDef="#">
                    <th mat-header-cell *matHeaderCellDef> # </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}}</td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    <td mat-footer-cell *matFooterCellDef></td>
                </ng-container>
            
                <ng-container matColumnDef="personname">
                    <th mat-header-cell *matHeaderCellDef> Person Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.personname}} </td>
                    <td mat-footer-cell *matFooterCellDef class="text-end"> Total Amount</td>
                </ng-container>
    
                <ng-container matColumnDef="amount">
                <th mat-header-cell *matHeaderCellDef> Amount </th>
                <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                <td mat-footer-cell *matFooterCellDef> {{ totaldecmonthcost}} </td>   
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> Status </th>
                    <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                    <td mat-footer-cell *matFooterCellDef>  </td>   
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns2; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                <tr mat-footer-row *matFooterRowDef="displayedColumns2; sticky: true"></tr>
                 
            </table>
        </div>
    </div>
</div>